<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    <add key="ipAddress" value="127.0.0.1"/>
    <add key="Language" value="CSharp"/>
    <add key="SecretKey" value="012345"/>
  </appSettings>
</configuration>
